<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ky.shop.mapper.UserMapper">
	<select id="selectUserByNameAndPwd"
		parameterType="com.ky.shop.entity.User"
		resultType="com.ky.shop.entity.User">
		SELECT name,pwd
		FROM
		mytest.t_user 
		WHERE
		name = #{name}
		AND
		pwd = #{pwd}
	</select>

	<insert id="userRegist" parameterType="com.ky.shop.entity.User">
		INSERT INTO
		mytest.t_user 
		(name, pwd, del_flg, create_time, update_time, coments)
		VALUES
		(#{name}, #{pwd}, #{del_flag}, #{create_time}, #{update_time},#{coments})
	</insert>
</mapper>