<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.MemberMapper">
	<select id="getMemberList" resultType="com.entity.Member">
		SELECT id, name, sex, salary, department, age FROM member
	</select>
	
	<delete id="delMembers">
		DELETE FROM mytest.`member` WHERE id in
		<foreach collection="array" item="each" index="index" open="(" separator="," close=")">
			#{each}
		</foreach>
	</delete>
</mapper>