<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.UserMapper">
	<insert id="registUser" parameterType="com.entity.User">
		INSERT INTO mytest.user_list (user_name, user_pass) VALUES(#{user_name,jdbcType=VARCHAR},#{user_pass,jdbcType=VARCHAR})
	</insert>
	
	<insert id="insertUsers" parameterType="User">
		insert into user_list (user_name, user_pass) VALUES
		<foreach collection="list" item="each" index="index" separator=",">
			(#{each.user_name},#{each.user_pass})
		</foreach>
	</insert>
</mapper>
